* {
    margin: 0;
    padding: 0;
}
body {
    width: 100%;
    margin: auto;
    background-color: rgb(0, 204, 255);
}
header {
    width: 100%;
    text-align: center;
}
header img {
    width: 400px;
    margin-bottom: 150px;
}
section {
    width: 360px;
    height: 340px;
    border-radius: 12px;
    background-color: white;
    margin: auto;
    flex-direction: column;
    padding-top: 40px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
section h2 {
    font-family: 'Noto Sans', sans-serif;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 20px;
}
section button {
    width: 30%;
    height: 40px;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 500;
    background: #1ec6ff;
    color: white;
    margin-bottom: 16px;
    border: none;
    cursor: pointer;
}
section h5 {
    font-family: 'Noto Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    margin-top: 15px;
}
section a {
    text-decoration: none;
    color: rgb(0, 204, 255);
    font-weight: 600;
    border-bottom: 1px solid rgb(0, 204, 255);
}
div {
    width: 80%;
    padding-left: 35px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 30px;
}
div input {
    width: 100%;
    height: 40px;
    border-radius: 8px;
    border-style: none;
    border: 1px solid gray;
    padding-left: 10px;
    font-size: 16px;
    font-family: 'Noto Sans', sans-serif;
}